In [1]:
import pandas as pd

In [2]:
taxis = pd.read_csv(r'E:\PYTHON\CURSOS\11_SANTANDER_CODER_2024\Introducao_ a_Data_Science\biblioteca\taxis.csv')

In [3]:
print(taxis.head())

                pickup              dropoff  passengers  distance  fare   tip  \
0  2019-03-23 20:21:09  2019-03-23 20:27:24           1      1.60   7.0  2.15
1  2019-03-04 16:11:55  2019-03-04 16:19:00           1      0.79   5.0  0.00
2  2019-03-27 17:53:01  2019-03-27 18:00:25           1      1.37   7.5  2.36
3  2019-03-10 01:23:59  2019-03-10 01:49:51           1      7.70  27.0  6.15
4  2019-03-30 13:27:42  2019-03-30 13:37:14           3      2.16   9.0  1.10

   tolls  total   color      payment            pickup_zone  \
0    0.0  12.95  yellow  credit card        Lenox Hill West
1    0.0   9.30  yellow         cash  Upper West Side South
2    0.0  14.16  yellow  credit card          Alphabet City
3    0.0  36.95  yellow  credit card              Hudson Sq
4    0.0  13.40  yellow  credit card           Midtown East

            dropoff_zone pickup_borough dropoff_borough
0    UN/Turtle Bay South      Manhattan       Manhattan
1  Upper West Side South      Manhattan       Manhattan
2           West Village      Manhattan       Manhattan
3         Yorkville West      Manhattan       Manhattan
4         Yorkville West      Manhattan       Manhattan

In [4]:
# Display the summary of the DataFrame
print(taxis.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   object
 1   dropoff          6433 non-null   object
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 703.7+ KB
None

In [5]:
# Display the basic statistics of the DataFrame
print(taxis.describe())

        passengers     distance         fare         tip        tolls  \
count  6433.000000  6433.000000  6433.000000  6433.00000  6433.000000
mean      1.539251     3.024617    13.091073     1.97922     0.325273
std       1.203768     3.827867    11.551804     2.44856     1.415267
min       0.000000     0.000000     1.000000     0.00000     0.000000
25%       1.000000     0.980000     6.500000     0.00000     0.000000
50%       1.000000     1.640000     9.500000     1.70000     0.000000
75%       2.000000     3.210000    15.000000     2.80000     0.000000
max       6.000000    36.700000   150.000000    33.20000    24.020000

             total
count  6433.000000
mean     18.517794
std      13.815570
min       1.300000
25%      10.800000
50%      14.160000
75%      20.300000
max     174.820000

In [6]:
taxis['dropoff_borough'].value_counts()

Manhattan        5206
Queens            542
Brooklyn          501
Bronx             137
Staten Island       2
Name: dropoff_borough, dtype: int64

In [7]:
## vizinhanças em que as casas costumam ser mais caras oferecem melhores gorjetas?
taxis.groupby(['dropoff_borough'])['tip'].agg(['mean', 'median'])

                      mean  median
dropoff_borough
Bronx             0.530803   0.000
Brooklyn          1.906248   0.000
Manhattan         1.954606   1.860
Queens            2.386273   0.000
Staten Island    14.165000  14.165

In [8]:
## vizinhanças em que as casas costumam ser mais caras oferecem melhores gorjetas?
taxis.groupby(['dropoff_borough'])['tip'].agg(['max'])

                   max
dropoff_borough
Bronx            10.26
Brooklyn         23.19
Manhattan        16.59
Queens           20.80
Staten Island    16.27

In [ ]:
a = 'teste 02 git envio vscode'